* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container {
    background-color: black;
    
}

header {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

#form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

#search-button {
    display: block;
    background-color: white;
    margin: 0 auto;
    margin-top: 5px;
    width: 50%;
}

#city-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 85vw;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
    border-radius: 35px;
    background-color: #333;
    color: white;
    padding: 15px;
}

.card-header {
    background-color: #333;
    color: white;
    text-align: center;
}

#history {
    background-color: black;
}

#title {
    color: white;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: 25px;
    padding: 10px;
}

.history-box {
    border: 2px solid red;
    border-radius: 25px;
    background-color: white;
    margin: 5px;
    text-align: center;
}
.history-box:hover {
    border: 5px;
}

.city-history {
    margin: 0;
    font-size: 30px;
}


